<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="dashboard for portfolio managers">
		<meta name="author" content="Rene Zbasnik">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<!--<link href="/style.css" type="text/css" rel="stylesheet" /> -->
    </head>
    <body>
        <h1>404 Page Not Found</h1>
        
    </body>
</html>