<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="dashboard for portfolio managers">
		<meta name="author" content="Rene Zbasnik">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
        <!--<script src="https://cdn.plot.ly/plotly-locale-fr-latest.js"></script>-->
       <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
        <script type="module" src="/main.js"></script>
        <script type = "module" src = "/functions.js" defer></script>
		<!--<link href="/style.css" type="text/css" rel="stylesheet" /> -->
    </head>
    <body>
        <h1>Helper for portfolio managers</h1>
        <div id="tester" style="width:600px;height:250px;"></div>
    </body>
</html>